body {
  margin: 0;
  padding: 0;
  background-color: black;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
    scale: 115%;
  }
  50% {
    transform: rotate(-3deg);
    scale: 115%;
  }
  75% {
    transform: rotate(3deg);
    scale: 115%;
  }
  100% {
    transform: rotate(0deg);
  }
}
